<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asazoon Bot</title>
    <style>
        h1{
            background: linear-gradient(to top right, lightgreen, lightblue);
            border: 4px dashed red;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding: 50px;
            margin: 10px;
            text-align: center;
            font-family: tahoma;
            font-size: 50px;
            text-shadow: 2px 2px 5px rgba(248, 3, 3, 0.5), -2px -2px 5px rgba(227, 29, 29, 0.5);
        }
    </style>
</head>
<body>
    <h1>Asazoon Telegram Bot</h1>
    
</body>
</html>